<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Créer un nouveau groupe', new_event_path, class: "btn btn-primary" %>
</div>

<h2>Les groupes dont vous faites partie</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nom du groupe</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @subscribed_events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td><%= event.status %></td>
        <td><%= link_to "Quitter le groupe", leave_event_path(event), method: :post, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Rejoignez d'autres groupes</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="centered">Name</th>
      <th class="centered">Statut</th>
      <th class="centered">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @not_subscribed_events.each do |event| %>
      <tr>
        <td class="centered"><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td class="centered"><%= event.password.blank? ? tag("i",class:'fa fa-unlock') : tag("i",class:'fa fa-lock') %></td>
        <td class="centered"><%= link_to "Rejoindre le groupe", join_event_path(event), method: :post, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Les groupes que vous avez créés</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Statut</th>
      <th colspan=2>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @owner_events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td><%= event.status %></td>
        <td><%= link_to 'Modifier', edit_event_path(event), class: "btn btn-default" %>,
        <%= link_to 'Annuler', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4"><%= link_to 'Créer un nouveau groupe', new_event_path, class: "btn btn-primary" %>
    </tr>	
  </tbody>
</table>