<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Créer un nouveau groupe', new_event_path, class: "btn btn-primary" %>
</div>

<h2>Les groupes dont vous faites partie</h2>

<table class="table table-bordered"">
  <thead>
    <tr>
      <th class="centered">Nom du groupe</th>
      <th class="centered">Statut</th>
      <th class="centered">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @subscribed_events.each do |event| %>
      <tr>
        <td class="centered"><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td class="centered"><%= event.status %></td>
        <td class="centered" ><%= link_to "Quitter le groupe", leave_event_path(event), method: :post, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>    
 
<h2>Rejoignez d'autres groupes</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="centered">Name</th>
      <th class="centered">Statut</th>
      <th class="centered">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @not_subscribed_events.each do |event| %>
      <tr>
        <td class="centered"><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td class="centered"><%= event.password.blank? ? tag("i",class:'fa fa-unlock') : tag("i",class:'fa fa-lock') %></td>
		<td class="centered"><%= tag("button", type:"button", class:"btn btn-info btn-lg", "data-toggle": "modal", "data-target":"#myModal-#{event.id}",open:"true") %>Rejoindre</button></td>
      </tr>
      <%= render partial: 'join_modal', locals: {event: event} %>
    <% end %>
  </tbody>
</table>

<h2>Les groupes que vous avez créés</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="centered">Name</th>
      <th class="centered">Statut</th>
      <th class="centered" colspan=2>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @owner_events.each do |event| %>
      <tr>
        <td class="centered"><%= link_to "#{event.name} (#{event.player_count})", event %></td>
        <td class="centered"><%= event.status %></td>
        <td class="centered"><%= link_to 'Modifier', edit_event_path(event), class: "btn btn-default" %>
        <%= link_to 'Effacer', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4"><%= link_to 'Créer un nouveau groupe', new_event_path, class: "btn btn-primary" %>
    </tr>	
  </tbody>
</table>