<p id="notice"><%= notice %></p>

<h1><%= @event.name %><small> (Admin: <%= @event.owner_player.name %>)</small></h1>

<%= pluralize(@players.count, 'Participant') %>
<table class="table table-bordered">
  <thead>
  	<td class="centered">Classement</td>
	<td class="centered">Nom</td>
	<td class="centered">Points</td>
  </thead>
  <tbody>
  	<% points = @players.pluck(:points).uniq %> <!-- Players is already sorted -->
    <% @players.each_with_index do |p,i| %>
	  <tr>
	  	<% rank = points.index(p.points) %>
	  	<td class="centered"><%= tag("i",class:"fa fa-trophy rank-#{rank} fa-2x") if rank <= 2 %><%= "##{1+rank}" %></td>
		<td class="centered"><%= p.name %> (<%= link_to( 'voir pronostics', p ) %>)</td>
		<td class="centered"><%= p.count_points %></td>	
	  </tr>
	<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
