<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<% @player.bets.each do |bet| %>
      <%= f.fields_for :bets, bet do |b| %>
	    <div class="col-md-12">
	      <div class="col-md-3">
	      <% match = b.object.match %>
	      <% iso = Country.find_by_name(match.host_name).try(:iso) || 'hk' %>
		  <%= image_tag "country-4x3/#{iso}.svg", width: 64, alt: 'HK', class:"col-xs-5 text-left" %>
		  <%= tag("p", class:"col-xs-2 text-center", open:"true") %>vs</p>
		  <% iso = Country.find_by_name(match.guest_name).try(:iso) || 'hk' %>
		  <%= image_tag "country-4x3/#{iso}.svg", width: 64, alt: 'HK', class:"col-xs-5 text-right" %>
		  </div>
		  <div class="col-md-9" style="padding-top: 0px;" >
		    <div class="buttonset">
		      <%= b.radio_button(:result, Match::WIN) %>
		      <%= b.label("result_g", "victoire de #{b.object.match.host_name}",class:"col-xs-4",style:"min-height:50px;","data-toggle":"tooltip", "title":"88% des choix") %>
		      <%= b.radio_button(:result, Match::TIE) %>
			  <%= b.label("result_n", "Match nul",class:"col-xs-4",style:"min-height:50px;","data-toggle":"tooltip", "title":"88% des choix") %>
		      <%= b.radio_button(:result, Match::LOSE) %>
			  <%= b.label("result_p", "victoire de #{b.object.match.guest_name}",class:"col-xs-4",style:"min-height:50px;","data-toggle":"tooltip", "title":"88% des choix") %>
		    </div>
		  </div>
	    </div>
	  <% end %>
  <% end %>  
  
  <div class="actions">
    <%= f.submit "Enregistrer", class:"btn btn-complete" %>
  </div>
<% end %>
