<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>Date: <input type="text" id="datepicker"></p>
<fieldset class="filter_form_fieldset venues">
    <legend class="filter_form_fieldset_legend">Choose a venue type:</legend>
    <input type="checkbox" name="venuetypes[]" id="venue-1" />
    <label for="venue-1">Venue 1</label>
    <input type="checkbox" name="venuetypes[]" id="venue-2" />
    <label for="venue-2">Venue 2</label>
    <input type="checkbox" name="venuetypes[]" id="venue-3" />
    <label for="venue-3">Venue 3</label>
</fieldset>
  <ul>
  	<% @player.bets.each do |bet| %>
      <%= f.fields_for :bets, bet do |b| %>
	    <li>
	      <%= b.object.match.host_name + " VS " + b.object.match.guest_name %>
	      <div class="buttonset">
	      <%= b.radio_button(:result, Match::WIN) %>
	      <%= b.label("result_g", "victoire de #{b.object.match.host_name}") %>
	      <%= b.radio_button(:result, Match::TIE) %>
		  <%= b.label("result_n", "Match nul") %>
	      <%= b.radio_button(:result, Match::LOSE) %>
		  <%= b.label("result_p", "victoire de #{b.object.match.guest_name}") %>
		  </div>
	    </li>
	  <% end %>
  <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
