<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
  	<% @player.bets.each do |bet| %>
      <%= f.fields_for :bets, bet do |b| %>
	    <li>
	      <%= b.object.match.host_name + " VS " + b.object.match.guest_name %>
	      <%= b.radio_button(:result, Match::WIN) %>
	      <%= b.label("result_g", Match::WIN) %>
	      <%= b.radio_button(:result, Match::TIE) %>
		  <%= b.label("result_n", Match::TIE) %>
	      <%= b.radio_button(:result, Match::LOSE) %>
		  <%= b.label("result_p", Match::LOSE) %>
	    </li>
	  <% end %>
  <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
