<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player.count_points %>
</p>

<ul>
	<li>
	  <%@bets.each_with_index do |b,i| %>
	    <%= i %>
	    <%= render b %>
	  <% end %>
	</li>
</ul>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
