<div class="col-md-12">
<div class="col-md-1" style="padding-top: 16px;">
<%= match.date.try(:strftime,"%Hh%M")%>
</div>
<div class="col-md-5 text-right">
<%= match.host_name %>
<% iso = Country.find_by_name(match.host_name).try(:iso) || 'hk' %>
<%= image_tag "country-4x3/#{iso}.svg", width: 64, alt: 'HK' %>
</div>
<div class="col-md-1 text-center" style="padding-top: 16px;">
vs 
</div>
<div class="col-md-5 text-left">
<%= image_tag 'country-4x3/hk.svg', width: 64, alt: 'HK' %>
<%= match.guest_name %> 
</div>
</div>
<hr class="divider">